@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

html
{
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  background: linear-gradient(to bottom, lightgreen, white);
  background-size: cover;
  background-repeat: no-repeat;
}


form
{
  font-size: 25px;
}

.column input{
  border-top:none;
  border-right: none;
  border-left:none;
  right:15px;
  width:100px;
}
.underline
{
  margin:6px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.column {
  padding: 20px;
  align-items:left;
  justify-content: left;
  text-align: center;
}

.column input:focus
{
  width:100px;
  border-top:none;
  outline:none;
  border-radius: 5px;
  border-color: green;
}

.submit
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.table
{
  font-size: 25px;
}

h2
{
  display: flex;
  justify-content: center;
  align-items: center;  
}